body{
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;

    height: fit-content;
    width: 100%; 
}

.header .logo{

    border: 5px solid black; 

    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;

    height: max-content;
    justify-content: flex-start;
    margin-left: 15%;
    margin-right: 40%;
}



.header .headerLink{
    border: 5px solid black; 
    height:max-content;
    
    
    justify-content: flex-end;
    justify-self: flex-end;
    justify-items: flex-end;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: flex-end;

    margin-right: 40px;

}



.header h1{
    height: ma;
    border: 5px solid black;
    align-self: center;
   

}

.Top-FlexBox{
    display: flex;
    /* border: 5px solid black; */
    height: 500px;
    background-color: #1f2937;  

    align-items: center;
}

.Top-FlexBox div{
    color: #e5e7eb;
    font-size: 18px;
    border: 5px solid black;

}

.Top-FlexBox .Heading-text{
    margin-top: -80px;
    margin-left: 700px;
}

.Top-FlexBox .smaller-text{
    margin-left: -130px;
    margin-top: 30px;
}

.Top-FlexBox .image{    
    margin-left: 500px;
}

.middle-heading{
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-flexbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;

    align-items: center;
    justify-content:space-evenly;
}

.images{
    border: 5px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
    align-self: center;
    vertical-align: center;
    line-height: 150px;
}
